a.my-btn {
   background-color: rgb(139,119,101);
   color: white; 
  
  
   
}
a.my-btn:hover
{
    background-color: rgb(205,175,149);
}

@media (max-width: 600px)
{
   img {
        margin: auto;
        width: 65%;
        height: 50%;
    }

}

    